---
import projectsData from "../config/projects.json";
const projects = projectsData.projects.filter((p) => p.featured).sort((a, b) => a.order - b.order);
---

<section class="px-6 py-16 max-w-6xl mx-auto mt-16 md:mt-32">
  <div class="flex flex-col space-y-12 md:space-y-32">
    {
      projects.map((project, index) => (
        <div
          class={`group flex flex-col md:flex-row items-center justify-between py-8 gap-8 ${index % 2 === 1 ? "md:flex-row-reverse" : ""}`}
        >
          <div class="flex-1 text-center md:text-left">
            <h3 class="text-2xl md:text-4xl font-bold mb-4">{project.name}</h3>
            <p class="text-gray-600 mb-3 text-base md:text-lg">{project.description}</p>
            <div class="mb-3">
              {project.tags?.map((tag) => (
                <span class="inline-flex items-center rounded-md bg-blue-600/10 px-2 py-1 text-xs font-medium text-blue-400 inset-ring inset-ring-blue-400/30">
                  {tag}
                </span>
              ))}
            </div>
            <p class="text-sm text-gray-500 mb-8 md:mb-12">{project.technologies.join(" • ")}</p>
            <a
              href={project.url}
              class="bg-blue rounded-full font-semibold text-lg md:text-xl px-6 md:px-8 py-3 md:py-4 bg-gray-200 hover:bg-gray-300 transition-colors text-gray-400"
            >
              Visit Project
            </a>
          </div>
          <div class={`order-first md:order-none ${index % 2 === 1 ? "md:mr-8" : "md:ml-8"}`}>
            <img src={project.image} alt={project.name} class="w-64 h-48 md:w-160 md:h-128 object-contain" />
          </div>
        </div>
      ))
    }
  </div>
</section>
